.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

/*Drop Downlist Design*/
.select
{
    position:relative;
    display:inline-block;
    margin-bottom:15px;
    width:100%;
}

select
{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 8px 8px;
    outline: 0;
    border: 2px solid #C9C9C9 ;
    border-radius: 0;
    background: #FFFFFF(243, 241, 241);
    color: grey;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select__arrow
{
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: grey transparent transparent transparent;
}
.input-container{
  position:relative;
  margin-bottom:25px;
}
.input-container label{
  position:absolute;
  top:0px;
  left:0px;
  font-size:16px;
  color:#fff;	
  /*pointer-event:none;*/
  transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
border:none;	
outline:none;
border-bottom:1px solid #e74c3c;	
}

.ContactusBtn
{
    background-color: #EAEAEA;
    font-size: 18px;
    padding:10px;
    border: 1px solid #858181;
    cursor: pointer;
}