<configuration>
<system.web>
       <compilation debug="true"/>
</system.web>       
	<appSettings>

   
    <add key="IPR_MailFrom" value="Customercare@integratedindia.in|acopen|password"/>
	<add key="WebinarDate" value="Upcoming_Webinar_Details_Mstr_insert_update_proc"/>
	<add key="ClientTestimonial" value="Client_Testimonials_Details_View_Proc"/>
	<add key="WebinarRegistraion" value="Upcoming_Webinar_Registration_Mstr_insert_update_proc"/>
	<add key="SaveInformation"  value="Landing_Page_Acopen_Request_Mstr_insert_Proc" />
	<add key="Pincodechecking" value="Web_Pincode_Validation" />
	<add key="OTP_proc"  value="OTP_Request_Verify_Proc" />
    </appSettings>
</configuration>
